* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

button {
	background-color: transparent;
	border-style: none;
}

input {
	border: none;
}

body {
	display: grid;
	place-items: center;
}

.hidden {
	display: none;
}

main {
	padding: 1rem 1.5rem;
	border: 1px solid #b3b3b3;
	max-width: 806px;
}

/* Main title */
.main-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.main-title h1 {
  font-size: 1.5rem;
}

.main-title button {
	font-size: 1.1rem;
}

.drop-down {
  position: relative;
  width: 20rem;
  top: 0;
  left: 25rem;
  height: 0;
	overflow: hidden;
  z-index: 999;
}

.show-drop-down {
	height: 14rem;
  border: 1px solid #545454;
  border-radius: 12px;
}

.drop-down-img {
  display: block;
  height: 5rem;
  margin: 0 auto;
}

.drop-down .title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #545454;
  padding-bottom: 0.5rem;
}

.drop-menu-first {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  margin-bottom: 1.2rem;
  padding-left: 1rem;
}

.drop-menu-first i {
  font-size: 1rem;
  margin-right: 0.7rem;
}

.drop-menu-first span {
  font-size: 0.8rem;
}

.drop-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
}

.drop-menu-second {
  color: #171717;
  padding-left: 1rem;
}

.drop-menu-second i {
  font-size: 1rem;
  margin-right: 0.6rem;
}

.setting-title {
  font-size: 1rem;
}


/* Main section1 */
.write-tweet-container {
	padding-bottom: 1rem;
	border-bottom: 0.5px solid #545454;
}

.row-container {
	display: flex;
}

.image-container {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 1rem;
}

.user-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.col-container {
	display: flex;
	flex-direction: column;
}

.write-tweet {
	width: 40rem;
	height: 5rem;
	border: none;
	font-size: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #545454;
}

.toolBar {
	display: flex;
	justify-content: space-between;
}

.toolBar-left {
	width: 6rem;
	display: flex;
	justify-content: space-between;
}

.add-media {
	font-size: 1.1rem;
}

.media-input {
	display: none;
}

.add-vote {
	font-size: 1.1rem;
}

.add-emoji {
	font-size: 1.1rem;
}

.toolBar-right {
	width: 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.max-char {
	font-weight: none;
	color: #b9b9b9;
	font-size: 1.1rem;
}

.bar {
	width: 1px;
	height: 23.64px;
	background-color: #b9b9b9;
}

.add-tweet {
	font-size: 1.3rem;
}

.tweet {
	width: 70px;
	height: 30px;
	border-radius: 20px;
	background-color: #38b0ff;
	color: #fff;
}

/* Time Line*/
.time-line-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
}

.header-info {
	display: flex;
	align-items: center;
}

.time-line-header .image-container {
	margin-right: 0.4rem;
}

.user-name {
	font-size: 1rem;
}
.user-info {
	font-weight: normal;
	font-size: 1rem;
	color: #545454;
}

.menu {
	font-size: 1.5rem;
}

.time-line-text {
	padding-left: 56px;
}

.time-line-footer {
  display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.time-line-footer .icon {
	font-size: 0.8rem;
}