:root {
	--font-color: #171717;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

ul {
	list-style-type: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.header {
	width: 13rem;
	padding-left: 30px;
	height: 100vh;
}

.header-title {
	font-size: 23px;
}

.header-title a {
	color: rgb(72, 121, 255);
}

.nav {
	margin-top: 0.5rem;
}

.nav-title {
	display: none;
}

.nav-menu {
	padding: 0.5rem 0.1rem;
}

.nav-menu:hover {
	background-color: rgb(211, 219, 242);
	border-radius: 8px;
}

.nav-item i{
  margin-right: 10px;
}

.more-drop-menu {
	display: none;
	margin-top: 0.5rem;
}

.show-menu {
	display: inline-block;
}

.drop-item {
	margin-bottom: 10px;
}

.btn-tweet{
	border-radius: 12px;
	background-color: rgb(72, 121, 255);
	width: 100%;
	height: 2rem;
	color: white;
	margin-top: 0.5rem;
}


/* Modal Tweet */
.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(73, 166, 233, 0.5);
	display: grid;
	place-items: center;
	visibility: hidden;
	z-index: -10;
}

.show-modal {
	visibility: visible;
	z-index: 10;
}

.modal-tweet {
	background-color: #323232;
	width: 30rem;
	height: 14rem;
	padding: 0.5rem 1.3rem;
	border-radius: 15px;
}

.close {
	color: #fff;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.row-container {
	display: flex;
}

.user-img-container {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
}

.user-img {
	width: 3rem;
}

.col-container {
	margin-left: 1rem;
}

.write-tweet {
	width: 23rem;
	height: 8rem;
	border-color: transparent;
	border-radius: 12px;
	padding: 0.3rem 0.5rem;
	font-size: 15px;
}

.toolbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toolbar-left button {
	font-size: 1rem;
	margin-right: 1rem;
	color:rgb(77, 117, 225)
}

.media-input {
	display: none;
}

.modal-tweet-btn {
	width: 70px;
	height: 30px;
	border-radius: 30px;
	background-color: rgb(72, 121, 255);
	color: #fff;
	margin-top: 0.3rem;
}